<link rel="stylesheet" href="/css/jquery.schedule.min.css">
<style>
    .loading {
        width: 50px;
        height: 50px;
        border: 8px solid #d3d3d3;
        border-top-color: #778899;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
</style>
<div id="wrapper">
    {{> sidebar}}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Citas del dia</h2>
                </div>
                {{!-- {{#if user}}
                <h4>Hola {{ user.Username }}</h4>
                {{/if}} --}}
                <!-- row -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ citasDiarias.length }}</div>
                                        <div>Pacientes</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Citas
                            </div>
                            <div class="panel-body">

                                <div class="table-responsive">


                                    <table class="table table-bordered table-hover table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Hora asignada</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#if citasDiarias}}
                                            {{#each citasDiarias}}

                                            <tr>

                                                <td><a
                                                        href="/pacientes/expediente/{{this.id_Paciente}}">{{this.Nombres}}</a>
                                                </td>
                                                <td>{{this.Apellidos}}</td>
                                                <td>{{this.Hora}}</td>
                                                <td><a href="/citas/asignar/{{this.id_Cita}}" style="font-size: 18px;text-decoration:none"><i class="fa fa-pencil-square"></i> Atender cita</a> </td>
                                            </tr>


                                            {{/each}}
                                            {{/if}}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <h2 class="page-header">Filtrado de citas</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Citas por fecha</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Citas por mes y año</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="form-group">
                                            <label for="dateInput" class="col-2 col-form-label">Date</label>
                                            <div class="col-10" style="width: 30%;">
                                                <input class="form-control" type="date" value="2021-03-24"
                                                    id="dateInput">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped"
                                                style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Nombres</th>
                                                        <th>Apellidos</th>
                                                        <th>Hora asignada</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="firstFilterTableBody">
                                                    {{#if citasDiarias}}
                                                    {{#each citasDiarias}}
                                                    <tr>
                                                        <td><a
                                                                href="/pacientes/expediente/{{this.id_Paciente}}">{{this.Nombres}}</a>
                                                        </td>
                                                        <td>{{this.Apellidos}}</td>
                                                        <td>{{this.Hora}}</td>
                                                    </tr>
                                                    {{/each}}
                                                    {{/if}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="form-group">
                                            <label for="monthInput" class="col-2 col-form-label">Selecciona el
                                                mes</label>
                                            <div class="col-10" style="width: 30%;">
                                                <input class="form-control" type="month" value="2021-03-24"
                                                    id="monthInput">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped"
                                                style="width:100%" id="secondFilterTable">
                                                <thead>
                                                    <tr>
                                                        <th>Nombres</th>
                                                        <th>Apellidos</th>
                                                        <th>Fecha</th>
                                                        <th>Hora asignada</th>
                                                        <th>Estado</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="secondFilterTableBody">
                                                    <div class="loading"></div>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-12">
                    <h2 class="page-header">Horario actual</h2>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div id="schedule-demo"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



{{> footer}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
    integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
    crossorigin="anonymous"></script>
{{!--
<script type="application/javascript">
    { {#if(Rol user.Rol) } }
    toastr.success('Bienvenido Doctor {{ user.Username }}')
    { {else } }
    toastr.success('Bienvenido {{ user.Username }}')
    {
        {
            /if}}
</script> --}}

<script async type="text/javascript">

            $(document).ready(function () {
                let secondFilterTableBody = document.getElementById('secondFilterTableBody')
                let firstFilterTableBody = document.getElementById('firstFilterTableBody')

                let loader = document.querySelector('.loading')


                {{#if successlogin}}
                    toastr.success('{{successlogin}}')
                {{/if}}
                $.ajax({
                    url: `/api/appointments/Scheduled/{{medico}}`,
                    success: function (response) {
                        returnToSencondFilterTable(response)
                        loader.style.display = "none";
                        
                    }
                })

                //MonthInput
                let inputMonth = $('#monthInput')
                inputMonth.change(function (e) {
                    secondFilterTableBody.innerHTML = ``
                    loader.style.display = "flex";

                    let { month, year } = returnDate(inputMonth.val())

                    $.ajax({
                        url: `/api/appointments/Scheduled/{{medico}}/${month}/${year}`,
                        success: function (response) {
                            returnToSencondFilterTable(response)
                            loader.style.display = "none";
                        }
                    })
                })

                //DayInput
                let inputDay = $('#dateInput')
                inputDay.change(function (e) {
                    firstFilterTableBody.innerHTML = ``;
                    loader.style.display = "flex";
                    let { month, year, day } = returnDate(inputDay.val())
                    let date = [year, month, day].join('-')

                    $.ajax({
                        url: `/api/appointments/${date}`,
                        success: function (response) {
                            response.citas.forEach(cita => {
                                firstFilterTableBody.innerHTML += `<tr>
                                                        <td><a href='/pacientes/expediente/${cita.id_Paciente}'>${cita.Nombres}</a></td>
                                                        <td>${cita.Apellidos}</td>
                                                        <td>${cita.Hora}</td>
                                                    </tr>`

                               
                            })
                            loader.style.display = "none";
                        }
                    })

                })

                function returnDate(input) {
                    let date = new Date(input)
                    date.setDate(date.getDate() + 1)

                    let day = date.getDate();
                    let month = date.getMonth() + 1
                    let year = date.getFullYear()

                    return { month, year, day }
                }

                function returnToSencondFilterTable(response) {

                    if (response.listaPacientes.length === 0) {
                        secondFilterTableBody.innerHTML = `${response.description}`
                    } else {
                        response.listaPacientes.forEach(cita => {
                            secondFilterTableBody.innerHTML += `<tr>
                                                        <td>${cita.paciente[0].Nombres}</td>
                                                        <td>${cita.paciente[0].Apellidos}</td>
                                                        <td>${cita.fechaFormated}</td>
                                                        <td>${cita.Hora}</td>
                                                        <td>${cita.Estado}</td>
                                                    </tr>`
                        })
                    }

                }
            })
</script>

<script src="/private/test.js">
    
    
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/js/jquery.schedule.js"></script>
<script>
    {{#if checkCitas}}
        toastr.warning(`{{checkCitas}}`)
    {{/if}}

    $.ajax({
        url:`/Horarios/Medico/{{medico}}`,
        method:"GET",
        success:function(data){
            $("#schedule-demo").jqs(data.Jornada);
            
        }
    })
</script>