<style>
    .loading {
        width: 50px;
        height: 50px;
        border: 8px solid #d3d3d3;
        border-top-color: #778899;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        display: none;
        
    }
    .loader-row{
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
</style>
<div id="wrapper">
    {{>sidebar}}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-6">
                        <h1 class="page-header">Crear nueva cita</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9">
                                    Ajuste de la cita
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                        <form action="" id="citaFormulario" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="FechaCita">Fecha de la cita</label>
                                    <input type="date" class="form-control" id="FechaCita" name="FechaCita">
                                </div>
                                <div class="col-lg-6">
                                    <label for="Hora">Hora de la cita</label>
                                    <input type="time" class="form-control" id="Hora" name="Hora">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="Pacientes">Paciente</label>
                                    <select name="Pacientes" id="Pacientes" class="form-control">
                                        {{#if Pacientes}}
                                        {{#each Pacientes}}
                                        
                                        <option value="{{this.id_Paciente}}">
                                            {{this.Nombres}} {{this.Apellidos}}</option>
                                      
                                        {{/each}}

                                        {{/if}}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label for="Medico">Medico</label>
                                    <select name="Medicos" id="Medicos" class="form-control">
                                            {{#if Medicos}}
                                            {{#each Medicos}}
                                            
                                            <option value="{{this.id_Medico}}">
                                                {{this.Nombres}} {{this.Apellidos}}</option>
                                        
                                            {{/each}}

                                            {{/if}}
                                        </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn btn-success" id="citaNuevaBtn" name="citaNuevaBtn" style="width: 100%; margin-top:20px">Crear cita</button>

                                </div>
                            </div>
                        </form>   
                        <div class="row loader-row" >
                            <div class="loading"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{{>footer}}
<script>
    $(document).ready(function(){
        let btnSave = $("#citaNuevaBtn")
        let loader = document.querySelector('.loading')
        let medicos = document.getElementById('Medicos')
        let medico = medicos.options[medicos.selectedIndex]
       
        let dataCita = document.getElementById("citaFormulario")
        let objCita = {}

        medicos.addEventListener('change',(e) => {
            medico = medicos.options[medicos.selectedIndex]
        })

        btnSave.click(function(e){
            
            e.preventDefault()
            let wss = ws
        
            //loader.style.display = "flex";
            
            let formToSend = new FormData(dataCita)
            formToSend.forEach(function(value,key){
                objCita[key] = value
            })

            let {FechaCita,Hora,Pacientes,Medicos} = objCita


            $.ajax({
                "url":"/api/appointments",
                "method":"POST",
                "data":{FechaCita,Hora,"id_Medico":Medicos,"id_Paciente":Pacientes},
                success:function(response){
                    
                    loader.style.display = "none";
                    toastr.success(response.message)
                    wss.send(JSON.stringify({status: "complete",Medico: medico.text}))                   
                    
                },
                error:function(response){
                    toastr.error(response.message)
                }
            }) 
        })
    })
</script>