<div id="wrapper">
    {{>sidebar}}
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="col-6">
                        <h1 class="page-header">Registro de paciente</h1>
                    </div>
                </div>

            </div>
            <form action="" id="formPaciente" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-12" style="font-size: 20px;  vertical-align: middle;">
                                        <div>
                                            <p>Informaci贸n personal</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="panel-body">


                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="">Nombres del paciente</label>
                                        <input type="text" class="form-control" id="nombres" name="Nombres"
                                            placeholder="Nombres">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">Apellidos del paciente</label>
                                        <input type="text" class="form-control" id="apellidos" name="Apellidos"
                                            placeholder="Apellidos">
                                    </div>
                                </div>


                                <div class="row" style="margin-top: 2%;">
                                    <div class="col-lg-6">
                                        <label for="">Fecha de Nacimiento </label>
                                        <input type="date" class="form-control" id="FechaNacimiento"
                                            name="FechaNacimiento" placeholder="Fecha de Nacimiento"
                                            value="{{pacienteProfile.FechaNacimiento}}">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">Edad</label>
                                        <input type="text" id="Edad" name="Edad" placeholder="Edad" class="form-control"
                                            value="{{pacienteProfile.Edad}}">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%;">
                                    <div class="col-lg-12">
                                        <label for="">Direcci贸n</label>
                                        <input type="text" id="Direccion" name="Direccion" placeholder="Direccion"
                                            class="form-control" value="{{pacienteProfile.Direccion}}">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%;">
                                    <div class="col-lg-6">
                                        <label for="">Telefono</label>
                                        <input type="text" id="Telefono" name="Telefono" placeholder="Telefono"
                                            class="form-control" value="{{pacienteProfile.Telefono}}">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">Telefono secundario</label>
                                        <input type="text" id="TelefonoSecundario" name="TelefonoSecundario"
                                            placeholder="Telefono" class="form-control"
                                            value="{{pacienteProfile.TelefonoSecundario}}">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%;">
                                    <div class="col-lg-6">
                                        <label for="">DUI</label>
                                        <input type="text" id="DUI" name="DUI" placeholder="DUI" class="form-control"
                                            value="{{pacienteProfile.DUI}}">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-6">
                            <h1 class="page-header">Informacion de expediente</h1>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 style="font-size: 20px;">Informacion del expediente del paciente</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="">Tipo de sangre</label>
                                        <select name="tipoSangre" id="tipoSangre" class="form-control">
                                            {{#if gruposSanguineos}}


                                            {{#each gruposSanguineos}}

                                            <option value="{{this.id_TipoSangre}}">
                                                {{this.Nombre}}</option>

                                            {{/each}}

                                            {{/if}}
                                        </select>

                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">Peso (lbs)</label>
                                        <input type="text" id="peso" class="form-control" name="peso"
                                            placeholder="peso (lbs)" value="{{paciente.Peso}}">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%;">
                                    <div class="col-lg-12">
                                        <label for="">Ocupaci贸n</label>
                                        <input type="text" class="form-control" id="ocupacion" name="ocupacion"
                                            placeholder="Ocupaci贸n" value="{{paciente.Ocupacion}}">
                                    </div>

                                </div>


                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>Padecimientos</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <textarea name="padecimientos" id="padecimientos-data" cols="30" rows="10"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>Alergias</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <textarea name="alergias" id="alergias-data" cols="30" rows="10"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-lg-12">

                        <button class="btn btn-success" id="savePaciente" style="width: 100%;">Guardar</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{>footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
    integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
    crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {
        let btnSave = $("#savePaciente")
        let dataPaciente = document.getElementById("formPaciente")
        let objPaciente = {}
        
        btnSave.click(function (e) {
            e.preventDefault();

            let formToSend = new FormData(dataPaciente)
            formToSend.forEach(function(value,key){
                objPaciente[key] = value
            })

            let {Nombres,Apellidos,FechaNacimiento,Edad,Direccion,Telefono,TelefonoSecundario,DUI} = objPaciente
            let {peso,ocupacion,tipoSangre,alergias,padecimientos} = objPaciente
            

        $.ajax({
               "url":"/pacientes",
                "data":{Nombres,Apellidos,FechaNacimiento,Edad,Direccion,Telefono,TelefonoSecundario,DUI},
                method:"POST",
                success:function(response){
                    $.ajax({
                        "url":`/api/expedientes/${response.id}`,
                        "method":"POST",
                        "data":{peso,ocupacion,"idTipoSangre":tipoSangre,"alergias":[alergias],"padecimientos":[padecimientos],"FechaCreacion":returnDate()},
                        success:function(response){
                            toastr.success(response.message)
                        },
                        error:function(response){
                             toastr.error(response.message)
                        }
                    })
                },
                error:function(response){
                     toastr.error(response.message)
                }
           })
            
        })


        function returnDate(){
            let date = new Date()

            let dd = date.getDate();
            let mm = date.getMonth()+1;
            let aaaa = date.getFullYear()


            let actualDay = `${aaaa}-${mm}-${dd}`;

            return actualDay;
        }
    })
</script>